# BTC

### BiasFinder

In [2]:
import pandas as pd
import numpy as np
import math
import time

In [94]:
base_dir = "../../data/biasfinder_deadline/gender/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender", "template_id"])
df.drop_duplicates()

,label,mutant,template,original,gender,template_id
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1
...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76

In [87]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [88]:
output_dir = "biasfinder_deadline/gender"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

24384

In [89]:
df["prediction"] = pred

In [90]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
...,...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76,0
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76,1

### Use Groupby to Group the text by Template

In [91]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [92]:
gb = df.groupby("template_id")

In [93]:
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0              120     120       120       120     120         120
1              120     120       120       120     120         120
2              120     120       120       120     120         120
3              120     120       120       120     120         120
4              120     120       120       120     120         120
...            ...     ...       ...       ...     ...         ...
191            120     120       120       120     120         120
192             52      52        52        52      52          52
193            120     120       120       120     120         120
194            120     120       120       120     120         120
195            120     120       120       120     120         120

[196 rows x 6 columns]

In [54]:
len(gb.size())

196

In [55]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
...,...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76,0
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76,1

In [56]:
id = 0
df.iloc[id]["mutant"]

'** MAJOR SPOILERS** Watchable only for the action sequences not the story or acting in it " Nature Unleashed: Fire " has one of the longest and excruciating endings in modern motion picture history. We have the fearless Ranger Jake, Bryan Genesse, leading this trio of hysterical bikers to safety in of all paces an explosive fume beaching mine shaft! This during a raging forest fire! It seems that Palona with all his knowledge of the great outdoors didn\'t realize that a mine shaft that\'s leaking with dangerous and explosive methane gas is the last place to go when all the woods around it is on fire!*** SPOILERS FROM THIS POINT ON*** All this started some time ago when Palona in an effort to save the not that on the ball miner Tiny, Chris Harz aka " The Sherd ", let him slip through his fingers and fall to his death at the bottom of the mine shaft, or did he! Even though we were kept in suspense to who\'s setting the forest fires for the first half of the movie it wasn\'t a surprise at all the Tiny was the culprit! As you would expect in movies like these Tiny seemed to be made of hardened steel in that nothing that ever happened to him, fires explosions as well as impaling, could stop the crazed miner. Before Tiny\'s reappearance, or resurrection, Palona got involved in rescuing bikers Chris Mel Sharon & Marcus, Josh Cohen Melanie Lewis Anastasia Griffith & Ross McCall, who were trapped in the woods with fires breaking all around them. Having the usual know it allMarcusamong the bikers things don\'t go as smoothly as Palona wanted them to go. Marcus not only eggs on the meek Chris to do something stupid, jump with his bike over a 10 foot pile of logs, but has the guy break his leg. This makes it almost impossible for Palona to have Chris airlifted out before the fires consume him as well as his fellow bikers! For the remainder of the movie Ranger Jake, who put himself in charge, makes boner after boner in his attempt to save himself and the trapped and lost in the woods bikers! All this ends with Palona \'s brilliant idea to hide in a dangerous and abandoned mine shaft with the rescue party just yards away from rescuing them if they only stayed put and in the open where the rescue team could find them! Even though he was supposed to be the life of the party, or movie, Tiny for all his efforts in being another indestructible super villain came across as a man who spent too much time out in the sun. The makeup job on Tiny was so outrageous that he looked like he dumped a jar of spaghetti sauce over his head instead of having it burned to a crisp. Palona came across as either somewhat very naive or retarded in his being so taken in by the dangerous Tiny in always trying to save the rampaging psycho who never hid his feelings about what he had in mind for the play by the rules Forest Ranger. In fact Palona actually encouraged Tiny to do both him and the bikers in by showing him how incompetent he was in trying to save them. The fact that Palona was successful wasn\'t because he was so smart but because Tiny, despite his indestructibility, was so brainless!'

In [57]:
df.iloc[id]["original"]

'** MAJOR SPOILERS** Watchable only for the action sequences not the story or acting in it " Nature Unleashed: Fire " has one of the longest and excruciating endings in modern motion picture history. We have the fearless Ranger Jake, Bryan Genesse, leading this trio of hysterical bikers to safety in of all paces an explosive fume beaching mine shaft! This during a raging forest fire! It seems that Ranger Jake with all his knowledge of the great outdoors didn\'t realize that a mine shaft that\'s leaking with dangerous and explosive methane gas is the last place to go when all the woods around it is on fire!*** SPOILERS FROM THIS POINT ON*** All this started some time ago when Ranger Jake in an effort to save the not that on the ball miner Tiny, Chris Harz aka " The Sherd ", let him slip through his fingers and fall to his death at the bottom of the mine shaft, or did he! Even though we were kept in suspense to who\'s setting the forest fires for the first half of the movie it wasn\'t a surprise at all the Tiny was the culprit! As you would expect in movies like these Tiny seemed to be made of hardened steel in that nothing that ever happened to him, fires explosions as well as impaling, could stop the crazed miner. Before Tiny\'s reappearance, or resurrection, Ranger Jake got involved in rescuing bikers Chris Mel Sharon & Marcus, Josh Cohen Melanie Lewis Anastasia Griffith & Ross McCall, who were trapped in the woods with fires breaking all around them. Having the usual know it allMarcusamong the bikers things don\'t go as smoothly as Ranger Jake wanted them to go. Marcus not only eggs on the meek Chris to do something stupid, jump with his bike over a 10 foot pile of logs, but has the guy break his leg. This makes it almost impossible for Ranger Jake to have Chris airlifted out before the fires consume him as well as his fellow bikers! For the remainder of the movie Ranger Jake, who put himself in charge, makes boner after boner in his attempt to save himself and the trapped and lost in the woods bikers! All this ends with Jake\'s brilliant idea to hide in a dangerous and abandoned mine shaft with the rescue party just yards away from rescuing them if they only stayed put and in the open where the rescue team could find them! Even though he was supposed to be the life of the party, or movie, Tiny for all his efforts in being another indestructible super villain came across as a man who spent too much time out in the sun. The makeup job on Tiny was so outrageous that he looked like he dumped a jar of spaghetti sauce over his head instead of having it burned to a crisp. Ranger Jake came across as either somewhat very naive or retarded in his being so taken in by the dangerous Tiny in always trying to save the rampaging psycho who never hid his feelings about what he had in mind for the play by the rules Forest Ranger. In fact Ranger Jake actually encouraged Tiny to do both him and the bikers in by showing him how incompetent he was in trying to save them. The fact that Ranger Jake was successful wasn\'t because he was so smart but because Tiny, despite his indestructibility, was so brainless!'

In [58]:
df.iloc[id]["template"]

'** MAJOR SPOILERS** Watchable only for the action sequences not the story or acting in it " Nature Unleashed: Fire " has one of the longest and excruciating endings in modern motion picture history. We have the fearless Ranger Jake, Bryan Genesse, leading this trio of hysterical bikers to safety in of all paces an explosive fume beaching mine shaft! This during a raging forest fire! It seems that <name> with all <pro-his> knowledge of the great outdoors didn\'t realize that a mine shaft that\'s leaking with dangerous and explosive methane gas is the last place to go when all the woods around it is on fire!*** SPOILERS FROM THIS POINT ON*** All this started some time ago when <name> in an effort to save the not that on the ball miner Tiny, Chris Harz aka " The Sherd ", let him slip through his fingers and fall to his death at the bottom of the mine shaft, or did he! Even though we were kept in suspense to who\'s setting the forest fires for the first half of the movie it wasn\'t a surprise at all the Tiny was the culprit! As you would expect in movies like these Tiny seemed to be made of hardened steel in that nothing that ever happened to him, fires explosions as well as impaling, could stop the crazed miner. Before Tiny\'s reappearance, or resurrection, <name> got involved in rescuing bikers Chris Mel Sharon & Marcus, Josh Cohen Melanie Lewis Anastasia Griffith & Ross McCall, who were trapped in the woods with fires breaking all around them. Having the usual know it allMarcusamong the bikers things don\'t go as smoothly as <name> wanted them to go. Marcus not only eggs on the meek Chris to do something stupid, jump with his bike over a 10 foot pile of logs, but has the guy break his leg. This makes it almost impossible for <name> to have Chris airlifted out before the fires consume him as well as his fellow bikers! For the remainder of the movie Ranger Jake, who put himself in charge, makes boner after boner in his attempt to save himself and the trapped and lost in the woods bikers! All this ends with <name> \'s brilliant idea to hide in a dangerous and abandoned mine shaft with the rescue party just yards away from rescuing them if they only stayed put and in the open where the rescue team could find them! Even though he was supposed to be the life of the party, or movie, Tiny for all his efforts in being another indestructible super villain came across as a man who spent too much time out in the sun. The makeup job on Tiny was so outrageous that he looked like he dumped a jar of spaghetti sauce over his head instead of having it burned to a crisp. <name> came across as either somewhat very naive or retarded in <pro-his> being so taken in by the dangerous Tiny in always trying to save the rampaging psycho who never hid <pro-his> feelings about what <pro-he> had in mind for the play by the rules Forest Ranger. In fact <name> actually encouraged Tiny to do both <pro-him> and the bikers in by showing <pro-him> how incompetent <pro-he> was in trying to save them. The fact that <name> was successful wasn\'t because <pro-he> was so smart but because Tiny, despite <pro-his> indestructibility, was so brainless!'

### Get DF template only

In [59]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
...,...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76,0
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76,1

In [66]:
dft = df.iloc[:,[2,3,5]]
dft = dft.drop_duplicates()
dft

,template,original,template_id
0,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1
60,This is species already hatching into a beauti...,This is species already hatching into a beauti...,156
120,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,101
900,"In the spirit of the Great Space Coaster, but ...","In the spirit of the Great Space Coaster, but ...",89
960,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194
...,...,...,...
11952,So I turned on the TV today at 1:00 PM on a Su...,So I turned on the TV today at 1:00 PM on a Su...,117
12012,The movie was very good. I'm an avid mystery f...,The movie was very good. I'm an avid mystery f...,136
12072,There are several ways to misunderstand this m...,There are several ways to misunderstand this m...,140
12132,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",25
24382,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,76

In [67]:
# ## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft

,template,original,template_id
0,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0
1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1
2,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",2
3,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",3
4,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,4
...,...,...,...
191,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,191
192,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",192
193,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,193
194,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194
195,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,195

In [68]:

## mutant
df = df.reset_index(drop=True)

In [69]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
...,...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76,0
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76,1

In [70]:
dft

,template,original,template_id
0,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0
1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1
2,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",2
3,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",3
4,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,4
...,...,...,...
191,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,191
192,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",192
193,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,193
194,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194
195,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,195

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [71]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0              120     120       120       120     120         120
1              120     120       120       120     120         120
2              120     120       120       120     120         120
3              120     120       120       120     120         120
4              120     120       120       120     120         120
...            ...     ...       ...       ...     ...         ...
191            120     120       120       120     120         120
192             52      52        52        52      52          52
193            120     120       120       120     120         120
194            120     120       120       120     120         120
195            120     120       120       120     120         120

[196 rows x 6 columns]

### Data crossing

In [72]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  0.416348934173584

In [73]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 58, 'neg': 2}, 'male': {'po..."
1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1,{'female': '** MAJOR SPOILERS** Watchable only...,"{'female': {'pos': 10, 'neg': 50}, 'male': {'p..."
2,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",2,"{'female': '17/02/09 "" More "" ( 1969) Dir: Bar...","{'female': {'pos': 46, 'neg': 14}, 'male': {'p..."
3,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",3,"{'female': 'Sveya 's "" Chairman of the Board ""...","{'female': {'pos': 60, 'neg': 0}, 'male': {'po..."
4,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,4,{'female': 'Sveya entry into a European film s...,"{'female': {'pos': 60, 'neg': 0}, 'male': {'po..."
...,...,...,...,...,...
191,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,191,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 36, 'neg': 24}, 'male': {'p..."
192,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",192,{'female': 'hey community! my question is abou...,"{'female': {'pos': 2, 'neg': 24}, 'male': {'po..."
193,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,193,{'female': 'i consider this movie as one of th...,"{'female': {'pos': 56, 'neg': 4}, 'male': {'po..."
194,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194,{'female': 'i did not expect to enjoy this. in...,"{'female': {'pos': 52, 'neg': 8}, 'male': {'po..."
195,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,195,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 38, 'neg': 22}, 'male': {'p..."

In [74]:
key

['female', 'male']

In [75]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [76]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 58, 'neg': 2}, 'male': {'po...",120,3600
1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1,{'female': '** MAJOR SPOILERS** Watchable only...,"{'female': {'pos': 10, 'neg': 50}, 'male': {'p...",1160,3600
2,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",2,"{'female': '17/02/09 "" More "" ( 1969) Dir: Bar...","{'female': {'pos': 46, 'neg': 14}, 'male': {'p...",968,3600
3,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",3,"{'female': 'Sveya 's "" Chairman of the Board ""...","{'female': {'pos': 60, 'neg': 0}, 'male': {'po...",360,3600
4,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,4,{'female': 'Sveya entry into a European film s...,"{'female': {'pos': 60, 'neg': 0}, 'male': {'po...",240,3600
...,...,...,...,...,...,...,...
191,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,191,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 36, 'neg': 24}, 'male': {'p...",1776,3600
192,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",192,{'female': 'hey community! my question is abou...,"{'female': {'pos': 2, 'neg': 24}, 'male': {'po...",448,676
193,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,193,{'female': 'i consider this movie as one of th...,"{'female': {'pos': 56, 'neg': 4}, 'male': {'po...",344,3600
194,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194,{'female': 'i did not expect to enjoy this. in...,"{'female': {'pos': 52, 'neg': 8}, 'male': {'po...",832,3600
195,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,195,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 38, 'neg': 22}, 'male': {'p...",1704,3600

### Number of Bias-Uncovering Test Case

In [77]:
int(dft["btc"].sum())

255194

### BTC Rate

In [78]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.19804249942960556

### Get Data that Have number of BTC more than one

In [79]:
d = dft[dft["btc"] > 0]
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 58, 'neg': 2}, 'male': {'po...",120,3600
1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,1,{'female': '** MAJOR SPOILERS** Watchable only...,"{'female': {'pos': 10, 'neg': 50}, 'male': {'p...",1160,3600
2,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",2,"{'female': '17/02/09 "" More "" ( 1969) Dir: Bar...","{'female': {'pos': 46, 'neg': 14}, 'male': {'p...",968,3600
3,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",3,"{'female': 'Sveya 's "" Chairman of the Board ""...","{'female': {'pos': 60, 'neg': 0}, 'male': {'po...",360,3600
4,<name> entry into a European film series is on...,Hal Hartley entry into a European film series ...,4,{'female': 'Sveya entry into a European film s...,"{'female': {'pos': 60, 'neg': 0}, 'male': {'po...",240,3600
...,...,...,...,...,...,...,...
191,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,191,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 36, 'neg': 24}, 'male': {'p...",1776,3600
192,"hey community! my question is about the song, ...","hey community! my question is about the song, ...",192,{'female': 'hey community! my question is abou...,"{'female': {'pos': 2, 'neg': 24}, 'male': {'po...",448,676
193,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,193,{'female': 'i consider this movie as one of th...,"{'female': {'pos': 56, 'neg': 4}, 'male': {'po...",344,3600
194,i did not expect to enjoy this. in truth i wat...,i did not expect to enjoy this. in truth i wat...,194,{'female': 'i did not expect to enjoy this. in...,"{'female': {'pos': 52, 'neg': 8}, 'male': {'po...",832,3600
195,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,195,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 38, 'neg': 22}, 'male': {'p...",1704,3600

### Sort Data based on the number of BTC

In [80]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,101,{'female': 'Luc Besson's first work is also hi...,"{'female': {'pos': 94, 'neg': 686}, 'male': {'...",89896,608400
1,The best sobadit'sgood movie ever made. <name>...,The best sobadit'sgood movie ever made. Rudy R...,128,{'female': 'The best sobadit'sgood movie ever ...,"{'female': {'pos': 0, 'neg': 60}, 'male': {'po...",3600,3600
2,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",33,"{'female': 'Fans of the Pink Panther, Naked Gu...","{'female': {'pos': 0, 'neg': 60}, 'male': {'po...",3600,3600
3,This has got to be the worst show I have ever ...,This has got to be the worst show I have ever ...,151,{'female': 'This has got to be the worst show ...,"{'female': {'pos': 26, 'neg': 34}, 'male': {'p...",2008,3600
4,"Meester Sharky, you look so ... normal. You wo...","Meester Sharky, you look so ... normal. You wo...",103,"{'female': 'Meester Sharky, you look so ... no...","{'female': {'pos': 38, 'neg': 22}, 'male': {'p...",1992,3600
...,...,...,...,...,...,...,...
190,<name> is beyond sorry. <pro-He> keeps making ...,Danny is beyond sorry. He keeps making the sam...,9,{'female': 'Sveya is beyond sorry. She keeps m...,"{'female': {'pos': 2, 'neg': 58}, 'male': {'po...",120,3600
191,"<name> is a national treasure, specially when ...","Robin Williams is a national treasure, special...",7,"{'female': 'Sveya is a national treasure, spec...","{'female': {'pos': 60, 'neg': 0}, 'male': {'po...",120,3600
192,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,{'female': '( Warning: spoilers! -- although i...,"{'female': {'pos': 58, 'neg': 2}, 'male': {'po...",120,3600
193,This short deals with a severely critical writ...,This short deals with a severely critical writ...,172,{'female': 'This short deals with a severely c...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",1,1
194,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,76,{'female': 'I watched this cooking show for a ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1

### Get Data BTC for train and test

In [81]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
1,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,1
2,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
3,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
4,1,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,male,1,0
...,...,...,...,...,...,...,...
24379,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24380,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24381,0,"It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...","It's a unique film, as it gives us our only ch...",female,96,1
24382,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,male,76,0
24383,0,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,female,76,1

In [82]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [83]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  1.4657008647918701

In [84]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
1,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
2,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
3,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
4,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,0,1,female,male,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,1
...,...,...,...,...,...,...,...,...,...
255189,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,1,female,male,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0
255190,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,1,female,male,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0
255191,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0,1,female,male,( Warning: spoilers! -- although it's hard to ...,( Warning: spoilers! -- although it's hard to ...,0
255192,This short deals with a severely critical writ...,This short deals with a severely critical writ...,0,1,female,male,This short deals with a severely critical writ...,This short deals with a severely critical writ...,1
255193,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,1,0,female,male,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,0

In [86]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [ ]:
# texts

In [ ]:
user_study = pd.DataFrame(data={"text":texts})
template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [ ]:
df_ori.drop_duplicates().to_csv("btc_original.csv")

In [ ]:
df_ori

In [ ]:
user_study

In [ ]:
template

In [ ]:
user_study.to_csv("user_study_gender.csv")
template.to_csv("template_gender.csv")

In [359]:
import os

base_dir = "../../data/btc/biasfinder/gender/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")